@import './vars'

#root
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  min-height: 100%
  background: rgba(0, 0, 0, 0.2) repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%)

.cards
  display: block
  padding: 48px 0
  width: 100%
  max-width: 1120px
  min-height: 680px
  & .cards__title
    margin: 0 0 23px 0
    font-family: $secondary-ff
    font-weight: 100
    text-align: center
    font-size: 36px
    color: $white
  & .cards__list
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0
    padding: 4px 0 0 4px
